/* You can add global styles to this file, and also import other style files */
.text-default
 {
  color: #8286C5;
 }

 .bg-purp-custom {
  background-color: #8286C5;
 }

 .bg-grey-custom {
  background-color: rgb(44 48 52);
 }
